doctype html
html
  head
    meta(charset='utf-8')
    title Taxi Driver
    link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
  body
    div(id='container')

      label(for='name' class='col-lg-2 control-label')
        a(href='/users') 클라우드펀딩 메인

      <img src="/images/taxi_movie.jpg" width=100% height=100%>

      h2 클라우드 펀딩 참여하기

      form(action='/users/join' method='post')

        label(for='name' class='col-lg-2 control-label') 사용자 계정
        input(type='text' name='user' placeholder='Sender Account')

        label(for='name' class='col-lg-2 control-label') 참여 금액
        input(type='text' name='famount' placeholder='Amount (ETH)')

        label(for='name' class='col-lg-2 control-label') 비번
        input(type='text' name='passphase' placeholder='passphase')

        button(id='button' onClick="loader.style.display='block';submit();") 이체하기

        div(id='loader' style='display:none;')
          <img src='/images/ring-spinner.gif'>
